{:remote-repo {:git-url "https://github.com/scicloj/kindly-noted"
               :branch "main"}
 :quarto {:format {:html {:toc true
                          :toc-depth 4
                          :theme [:spacelab "notebooks/custom.scss"]}}}
 :base-target-path "temp"}
