{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.scicloj/kindly {:mvn/version "4-beta19"}
        org.scicloj/kindly-advice {:mvn/version "1-beta14"}
        org.scicloj/kind-portal {:mvn/version "1-beta3"}
        org.scicloj/clay {:mvn/version "2-beta53"}
        org.scicloj/noj {:mvn/version "2-beta18"}}
 :paths ["src" "notebooks"]}
