{:deps {org.scicloj/kindly {:mvn/version "4-alpha4"}
        org.scicloj/kindly-advice {:mvn/version "1-alpha3"}
        org.scicloj/clay {:mvn/version "2-alpha37"}
        org.scicloj/kind-portal {:mvn/version "1-alpha7"}
        org.scicloj/note-to-test {:mvn/version "1-alpha7"}
        org.scicloj/noj {:mvn/version "1-alpha15"}}
 :paths ["src" "notebooks"]}
